MONGODB_URL = your mongo url
JWT_SECRET = shh!
JWT_ALGORITHM = HS256
JWT_SALT_ROUND = 10
JWT_EXPIRES_IN = 1h
JWT_REFRESH_SECRET = top_secret
JWT_REFRESH_EXPIRE = 100d
PORT = 7000
NODE_ENV = development
SUPER_ADMIN_EMAIL = dummyuser@gmail.com
SUPER_ADMIN_PASSWORD = strong_pass
GOOGLE_CLIENT_SECRET = your google secret
GOOGLE_CLIENT_ID = your client id
GOOGLE_CALLBACK_URL = your route 
FRONTEND = url
EXPRESS_SESSION_SECRET = very_secret_string